<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p style="text-align: center" th:text = "'Id_C_Invoice: ' + ${Id_C_Invoice}"/>
<p style="text-align: center" th:text = "'Status Invoice: ' + ${Status_Invoice}"/>
<p style="text-align: center" th:text = "'Id_Payment: ' + ${Id_Payment}"/>
<p style="text-align: center" th:text = "'Total Of Money: ' + ${total_of_money}"/>
<p style="text-align: center" th:text = "'Type Of Payment: ' + ${Type_Of_Payment}"/>
<p style="text-align: center" th:text = "'startDate: ' + ${startDate}"/>
<p style="text-align: center" th:text = "'endDate: ' + ${endDate}"/>
<p style="text-align: center" th:text = "'startTime: ' + ${startTime}"/>
<p style="text-align: center" th:text = "'endTime: ' + ${endTime}"/>
<p style="text-align: center" th:text = "'Id_Booking: ' + ${Id_Booking}"/>
<p style="text-align: center" th:text = "'id_C_Slot: ' + ${id_C_Slot}"/>
</body>
</html>

