<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p style="text-align: center" th:text = "'Id_R_Invoice: ' + ${Id_R_Invoice}"/>
<p style="text-align: center" th:text = "'Status Invoice: ' + ${Status_Invoice}"/>
<p style="text-align: center" th:text = "'Id_Payment: ' + ${Id_Payment}"/>
<p style="text-align: center" th:text = "'Total Of Money: ' + ${Total_of_money}"/>
<p style="text-align: center" th:text = "'Type Of Payment: ' + ${Type_Of_Payment}"/>
<p style="text-align: center" th:text = "'Date Of Payment: ' + ${Date_Of_Payment}"/>
</body>
</html>