<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="text-align: center" th:text = "'Id_User: ' + ${Id_User}"/>
<p style="text-align: center" th:text = "'id_invoice: ' + ${id_invoice}"/>
<p style="text-align: center" th:text = "'status_fee: ' + ${status_fee}"/>
<p style="text-align: center" th:text = "'current_date: ' + ${current_date}"/>
<p style="text-align: center" th:text = "'current_time: ' + ${current_time}"/>
<p style="text-align: center" th:text = "'end_date: ' + ${end_date}"/>
<p style="text-align: center" th:text = "'end_time: ' + ${end_time}"/>
<p style="text-align: center" th:text = "'expired: ' + ${expired}"/>
<p style="text-align: center" th:text = "'based_fee: ' + ${based_fee}"/>
<p style="text-align: center" th:text = "'fined_fee: ' + ${fined_fee}"/>
<p style="text-align: center" th:text = "'warning: ' + ${warning}"/>
<p style="text-align: center" th:text = "'sum: ' + ${sum}"/>
<p style="text-align: center" th:text = "'has_paid: ' + ${has_paid}"/>
<p style="text-align: center" th:text = "'total_fee: ' + ${total_fee}"/>
</body>
</html>